
@import '../../styles/global';

.userCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  &:not(.userCard:last-of-type) {
    border-bottom: 1px solid $border-grey;
    @include maxw($mob-breakpoint) {
      border-bottom: none;
      margin-bottom: 1rem;
    }
  }
  @include maxw($mob-breakpoint) {
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1.25rem;
    border-radius: 12px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    background: $white;
  }
}